@import 'nib'

span.reference
  font-size: 80%
  no-select()
td
  vertical-align: top

#footer
  border-top: 1px solid #888
  margin-top: 10px
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  padding: 5px 20px
  background: #efefef
body
  margin-bottom 30px;
